@charset "UTF-8";
/* CSS Document */
/* CSS Document */

body {
    background-color: cornflowerblue;
}
h1 {
    color: indianred;
	text-align: center;
	font-family: "futura", sans-serif;
	font-style:italic
	
}
p {
    color: yellow;
	font-family: "helvetica"
}
